<DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<title>My First HTML/CSS/Javascript Page!</title>
	<link rel="stylesheet" type="text/css" href="/static/myfirststylesheet.css" />
</head>
<body>
	<div id="page">
		<div id="header">
			<div id="title">
				<h1>Wes' Wonderful Website</h1>
			</div>
			<div class="navigation">
				<ul>
					<li><a href='/'>Home</a></li>
					<li><a href='/time/'>Time</a></li>
					<li><a href='/time/plus/12'>Future Time</a></li>
					<li><a href="#">My Stuff</a></li>
					<li><a href="#">About Me</a></li>
				</ul>
			</div>
		</div>
		<h1>{% block title %}{% endblock %}</h1>
		{% block content %}{% endblock %}
		<div id="footer">
			<hr>
			<p>Thanks for visiting!</p>
		</div>
	</div>
</body>
</html>